 <div id="container">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <svg width="1000px" height="1000px" @click.left="append">
        <circle v-for="(circle,index) in circles":cx="circle.cx" :cy="circle.cy" :r="circle.r" :stroke="circle.stroke" stroke-width="5" @click.right.prevent="remove(index)" @click.stop.left="drawLine(index)"/>
        <text v-for="(circle,index) in circles":x="circle.cx"  :y="circle.cy+circle.r+15 ":length="2">{{circle.id}}</text>
        <line v-for="line in lines":x1="line.x1":x2="line.x2":y1="line.y1":y2="line.y2"stroke="black"/>
        
      </svg>    
      <button @click="dlCSV">
        ダウンロード
      </button>
  </div>
<script>
   new Vue({
    el : "#container",
    data() {
      return {
        num:1,
        firstClick:true,
        clickedCircle:-1,
        changeIndex:0,
        lineIndex:0,
        id:0,
        tmpx:0,
        tmpy:0,
        circles : [
           {cx:0, cy:0, r:0,id:0,stroke:"black"}
        ],
        lines :[
          {x1:0, x2:0, y1:0, y2:0, pathLength:0}
        ],
        containers:[
          {id:0 ,name:""}
        ],
        relation:[
          {from:"" ,to:"" ,num:0}
        ],
      }
    },
    methods: {
      append:function(e){
        
        this.circles.push({
          cx : e.offsetX,
          cy : e.offsetY,
          r  : 50,
          id : this.num++,
          stroke:"black"
        });
      },
      remove:function(index){
        this.circles.splice(index,1)
        
      },
      drawLine:function(circleIndex){
        if(this.firstClick){
        this.circles[circleIndex]["stroke"]="blue"
        this.relation.push({
          from:circleIndex,
          to:null,
          num:null
        }
        
        )
        console.log("push")
        this.tmpx=this.circles[circleIndex]["cx"]
        this.tmpy=this.circles[circleIndex]["cy"]
        this.firstClick=false
        this.clickedCircle=circleIndex
      }else{
        this.relation[this.lineIndex+1]["to"]=circleIndex
        this.lines.push({
          x1:this.tmpx,
          x2:this.circles[circleIndex]["cx"],
          y1:this.tmpy,
          y2:this.tmpy=this.circles[circleIndex]["cy"]
        })
        this.firstClick=true
        this.lineIndex++
        this.circles[this.clickedCircle]["stroke"]="black"
        console.log("a")
        
      }

      },
      dlCSV () {
      var csv = '\ufeff' + 'from,to\n'
      this.relation.forEach(el => {
        var line = el['from'] + ',' + el['to'] + '\n'
        csv += line
      })
      let blob = new Blob([csv], { type: 'text/csv' })
      let link = document.createElement('a')
      link.href = window.URL.createObjectURL(blob)
      link.download = 'Result.csv'
      link.click()
    },
    }
   });
   </script>